* {
    border: 0px solid black;
}

html {
    font-size: 18px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h5 {
    margin-bottom: .5rem;
}

header {
    margin-bottom: 4rem;
}

.page-title {
    margin-top: 1em;
}

.main-nav a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: .75rem;
    margin-right: 1rem;
}

.main-nav a:hover {
    color: orangered;
}

section {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.columns {
    columns: 300px 10;
}

p {
    margin-top: 0;
}